body {
	margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  overflow: hidden;
  background-color: #cc0000;
}

.navbar a {
  float: right;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #ddd;
  color: black;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.btn {
	background-color: #ddd;
	color: #000000;
	border-color: #ffffff;
	border-radius: 5px;
  	text-decoration: none;
  	display: inline-block;
  	padding: 8px 16px;
}

.btn:hover {
  	background-color: #cc0000;
  	color: #ffffff;
}

.forgotpassword {
	color: #555;
  	text-decoration: none;
}




/*.navbar a.active {
  background-color: #4CAF50;
  color: white;
}*/

/*.previous {
  	background-color: #f1f1f1;
  	color: black;
}

.next {
  	background-color: #4CAF50;
  	color: white;
}
*/